<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
</head>
<body>
{% if msg %}
   <span style="color:red;"> {{ msg }}</span>
{% endif %}
    <form action="#" method="post">
        <span>请输入用户名</span><input type="text" name="zcusername">
        <span>&nbsp;&nbsp;&nbsp;请输入密码</span><input type="text" name="zcpassword">
        <span>&nbsp;&nbsp;&nbsp;请确认密码</span><input type="text" name="qrpassword">
        <input type="submit" value="注册">
    </form>
</body>
</html>